/*
 * for KMD HTTP API
 *
 * API for KMD (Key Management Daemon)
 *
 * The version of the OpenAPI document: 0.0.1
 * Contact: contact@algorand.com
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, KmdApiError};

// Import all custom types used by this endpoint

// Import request body type if needed
use crate::models::DeleteMultisigRequest;

/// struct for typed errors of method [`delete_multisig`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum DeleteMultisigError {
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Deletes multisig preimage information for the passed address from the wallet.
pub async fn delete_multisig(http_client: &dyn HttpClient) -> Result<(), Error> {
    let path = "/v1/multisig".to_string();

    let query_params: HashMap<String, String> = HashMap::new();

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Delete,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let _ = response;
    Ok(())
}
