/*
 * for KMD HTTP API
 *
 * API for KMD (Key Management Daemon)
 *
 * The version of the OpenAPI document: 0.0.1
 * Contact: contact@algorand.com
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, KmdApiError};

// Import all custom types used by this endpoint

// Import request body type if needed
use crate::models::ReleaseWalletHandleTokenRequest;

/// struct for typed errors of method [`release_wallet_handle_token`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum ReleaseWalletHandleTokenError {
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Invalidate the passed wallet handle token, making it invalid for use in subsequent requests.
pub async fn release_wallet_handle_token(
    http_client: &dyn HttpClient,
    request: ReleaseWalletHandleTokenRequest,
) -> Result<(), Error> {
    let p_request = request;

    let path = "/v1/wallet/release".to_string();

    let query_params: HashMap<String, String> = HashMap::new();

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Content-Type".to_string(), "application/json".to_string());
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = Some(serde_json::to_vec(&p_request).map_err(|e| Error::Serde {
        message: e.to_string(),
    })?);

    let response = http_client
        .request(
            HttpMethod::Post,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let _ = response;
    Ok(())
}
