# coding: utf-8

# flake8: noqa
{{>partial_header}}

# Import models from algokit_msgpack transpiled from Rust FFI
from algokit_msgpack import (
    # Core models for API endpoints
    Account,
    SimulateRequest,
    DryrunRequest,
    ErrorResponse,
    PendingTransactionResponse,
    LedgerStateDeltaForTransactionGroup,
    
    # Response models
    AbortCatchup200Response,
    AccountApplicationInformation200Response,
    AccountAssetInformation200Response,
    AccountAssetsInformation200Response,
    AddParticipationKey200Response,
    GetApplicationBoxes200Response,
    GetBlock200Response,
    GetBlockHash200Response,
    GetBlockLogs200Response,
    GetBlockTimeStampOffset200Response,
    GetBlockTxids200Response,
    GetPendingTransactionsByAddress200Response,
    GetStatus200Response,
    GetSupply200Response,
    GetSyncRound200Response,
    GetTransactionGroupLedgerStateDeltasForRound200Response,
    GetTransactionProof200Response,
    RawTransaction200Response,
    SimulateTransaction200Response,
    StartCatchup200Response,
    TealCompile200Response,
    TealDisassemble200Response,
    TealDryrun200Response,
    TransactionParams200Response,
    
    # Supporting models
    AccountAssetHolding,
    AccountParticipation,
    AccountStateDelta,
    AlgorandBox,
    AppCallLogs,
    Application,
    ApplicationInitialStates,
    ApplicationKvStorage,
    ApplicationLocalReference,
    ApplicationLocalState,
    ApplicationParams,
    ApplicationStateOperation,
    ApplicationStateSchema,
    Asset,
    AssetHolding,
    AssetHoldingReference,
    AssetParams,
    AvmKeyValue,
    AvmValue,
    BoxReference,
    BuildVersion,
    DebugSettingsProf,
    DryrunSource,
    DryrunState,
    DryrunTxnResult,
    EvalDelta,
    EvalDeltaKeyValue,
    LightBlockHeaderProof,
    ParticipationKey,
    ScratchChange,
    SimulateInitialStates,
    SimulateRequestTransactionGroup,
    SimulateTraceConfig,
    SimulateTransactionGroupResult,
    SimulateTransactionResult,
    SimulateUnnamedResourcesAccessed,
    SimulationEvalOverrides,
    SimulationOpcodeTraceUnit,
    SimulationTransactionExecTrace,
    StateProof,
    StateProofMessage,
    TealKeyValue,
    TealValue,
    Version,
    
    # Msgpack encoding/decoding functions  
    encode_account,
    decode_account,
    encode_simulate_request,
    encode_dryrun_request,
    decode_error_response,
    decode_pending_transaction_response,
    decode_ledger_state_delta_for_transaction_group,
)
