#!/usr/bin/env python3
# coding: utf-8

"""
Example usage of the {{packageName}} client.
"""

import os
import asyncio
from pprint import pprint

import {{packageName}}
from {{packageName}}.configuration import Configuration
from {{packageName}}.api_client import ApiClient
from {{packageName}}.api.public_api import PublicApi
from {{packageName}}.rest import ApiException


async def main():
    # Configure API client
    configuration = Configuration(
        host="http://localhost:4001"
    )

    # Configure API key authorization
    configuration.api_key['X-Algo-API-Token'] = 'aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa'

    # Create API client with configuration
    async with {{packageName}}.ApiClient(configuration) as api_client:
        # Create instance of the API class using the client
        api_instance = PublicApi(api_client)

        try:
            # Get parameters for constructing a new transaction
            api_response = await api_instance.transaction_params()
            print("Transaction parameters:")
            pprint(api_response)
        except ApiException as e:
            print(f"Exception when calling PublicApi->transaction_params: {e}")


if __name__ == "__main__":
    asyncio.run(main()) 
