/*
 * Indexer
 *
 * Algorand ledger analytics API.
 *
 * The version of the OpenAPI document: 2.0
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, IndexerApiError};

// Import all custom types used by this endpoint
use crate::models::LookupApplicationLogsById;

// Import request body type if needed

/// struct for typed errors of method [`lookup_application_logs_by_id`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum LookupApplicationLogsByIdError {
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Lookup application logs.
pub async fn lookup_application_logs_by_id(
    http_client: &dyn HttpClient,
    application_id: u64,
    limit: Option<u64>,
    next: Option<&str>,
    txid: Option<&str>,
    min_round: Option<u64>,
    max_round: Option<u64>,
    sender_address: Option<&str>,
) -> Result<LookupApplicationLogsById, Error> {
    let p_application_id = application_id;
    let p_limit = limit;
    let p_next = next;
    let p_txid = txid;
    let p_min_round = min_round;
    let p_max_round = max_round;
    let p_sender_address = sender_address;

    let path = format!(
        "/v2/applications/{application_id}/logs",
        application_id = p_application_id
    );

    let mut query_params: HashMap<String, String> = HashMap::new();
    if let Some(value) = p_limit {
        query_params.insert("limit".to_string(), value.to_string());
    }
    if let Some(value) = p_next {
        query_params.insert("next".to_string(), value.to_string());
    }
    if let Some(value) = p_txid {
        query_params.insert("txid".to_string(), value.to_string());
    }
    if let Some(value) = p_min_round {
        query_params.insert("min-round".to_string(), value.to_string());
    }
    if let Some(value) = p_max_round {
        query_params.insert("max-round".to_string(), value.to_string());
    }
    if let Some(value) = p_sender_address {
        query_params.insert("sender-address".to_string(), value.to_string());
    }

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => Err(Error::Serde {
            message: "MsgPack not supported".to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
