/*
 * Indexer
 *
 * Algorand ledger analytics API.
 *
 * The version of the OpenAPI document: 2.0
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, IndexerApiError};

// Import all custom types used by this endpoint
use crate::models::{LookupAccountById, UnknownJsonValue};

// Import request body type if needed

/// struct for typed errors of method [`lookup_account_by_id`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum LookupAccountByIdError {
    Status400(UnknownJsonValue),
    Status404(UnknownJsonValue),
    Status500(UnknownJsonValue),
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Lookup account information.
pub async fn lookup_account_by_id(
    http_client: &dyn HttpClient,
    account_id: &str,
    round: Option<u64>,
    include_all: Option<bool>,
    exclude: Option<Vec<String>>,
) -> Result<LookupAccountById, Error> {
    let p_account_id = account_id;
    let p_round = round;
    let p_include_all = include_all;
    let p_exclude = exclude;

    let path = format!(
        "/v2/accounts/{account_id}",
        account_id = crate::apis::urlencode(p_account_id)
    );

    let mut query_params: HashMap<String, String> = HashMap::new();
    if let Some(value) = p_round {
        query_params.insert("round".to_string(), value.to_string());
    }
    if let Some(value) = p_include_all {
        query_params.insert("include-all".to_string(), value.to_string());
    }
    if let Some(value) = p_exclude {
        query_params.insert("exclude".to_string(), value.join(","));
    }

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => Err(Error::Serde {
            message: "MsgPack not supported".to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
