/*
 * Indexer
 *
 * Algorand ledger analytics API.
 *
 * The version of the OpenAPI document: 2.0
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, IndexerApiError};

// Import all custom types used by this endpoint
use crate::models::{SearchForAccounts, UnknownJsonValue};

// Import request body type if needed

/// struct for typed errors of method [`search_for_accounts`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum SearchForAccountsError {
    Status400(UnknownJsonValue),
    Status500(UnknownJsonValue),
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Search for accounts.
pub async fn search_for_accounts(
    http_client: &dyn HttpClient,
    asset_id: Option<u64>,
    limit: Option<u64>,
    next: Option<&str>,
    currency_greater_than: Option<u64>,
    include_all: Option<bool>,
    exclude: Option<Vec<String>>,
    currency_less_than: Option<u64>,
    auth_addr: Option<&str>,
    round: Option<u64>,
    application_id: Option<u64>,
    online_only: Option<bool>,
) -> Result<SearchForAccounts, Error> {
    let p_asset_id = asset_id;
    let p_limit = limit;
    let p_next = next;
    let p_currency_greater_than = currency_greater_than;
    let p_include_all = include_all;
    let p_exclude = exclude;
    let p_currency_less_than = currency_less_than;
    let p_auth_addr = auth_addr;
    let p_round = round;
    let p_application_id = application_id;
    let p_online_only = online_only;

    let path = "/v2/accounts".to_string();

    let mut query_params: HashMap<String, String> = HashMap::new();
    if let Some(value) = p_asset_id {
        query_params.insert("asset-id".to_string(), value.to_string());
    }
    if let Some(value) = p_limit {
        query_params.insert("limit".to_string(), value.to_string());
    }
    if let Some(value) = p_next {
        query_params.insert("next".to_string(), value.to_string());
    }
    if let Some(value) = p_currency_greater_than {
        query_params.insert("currency-greater-than".to_string(), value.to_string());
    }
    if let Some(value) = p_include_all {
        query_params.insert("include-all".to_string(), value.to_string());
    }
    if let Some(value) = p_exclude {
        query_params.insert("exclude".to_string(), value.join(","));
    }
    if let Some(value) = p_currency_less_than {
        query_params.insert("currency-less-than".to_string(), value.to_string());
    }
    if let Some(value) = p_auth_addr {
        query_params.insert("auth-addr".to_string(), value.to_string());
    }
    if let Some(value) = p_round {
        query_params.insert("round".to_string(), value.to_string());
    }
    if let Some(value) = p_application_id {
        query_params.insert("application-id".to_string(), value.to_string());
    }
    if let Some(value) = p_online_only {
        query_params.insert("online-only".to_string(), value.to_string());
    }

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => Err(Error::Serde {
            message: "MsgPack not supported".to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
