/*
 * Indexer
 *
 * Algorand ledger analytics API.
 *
 * The version of the OpenAPI document: 2.0
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, IndexerApiError};

// Import all custom types used by this endpoint
use crate::models::{SearchForAssets, UnknownJsonValue};

// Import request body type if needed

/// struct for typed errors of method [`search_for_assets`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
#[cfg_attr(feature = "ffi_uniffi", derive(uniffi::Error))]
pub enum SearchForAssetsError {
    Status400(UnknownJsonValue),
    Status500(UnknownJsonValue),
    DefaultResponse(),
    UnknownValue(crate::models::UnknownJsonValue),
}

/// Search for assets.
pub async fn search_for_assets(
    http_client: &dyn HttpClient,
    include_all: Option<bool>,
    limit: Option<u64>,
    next: Option<&str>,
    creator: Option<&str>,
    name: Option<&str>,
    unit: Option<&str>,
    asset_id: Option<u64>,
) -> Result<SearchForAssets, Error> {
    let p_include_all = include_all;
    let p_limit = limit;
    let p_next = next;
    let p_creator = creator;
    let p_name = name;
    let p_unit = unit;
    let p_asset_id = asset_id;

    let path = "/v2/assets".to_string();

    let mut query_params: HashMap<String, String> = HashMap::new();
    if let Some(value) = p_include_all {
        query_params.insert("include-all".to_string(), value.to_string());
    }
    if let Some(value) = p_limit {
        query_params.insert("limit".to_string(), value.to_string());
    }
    if let Some(value) = p_next {
        query_params.insert("next".to_string(), value.to_string());
    }
    if let Some(value) = p_creator {
        query_params.insert("creator".to_string(), value.to_string());
    }
    if let Some(value) = p_name {
        query_params.insert("name".to_string(), value.to_string());
    }
    if let Some(value) = p_unit {
        query_params.insert("unit".to_string(), value.to_string());
    }
    if let Some(value) = p_asset_id {
        query_params.insert("asset-id".to_string(), value.to_string());
    }

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => Err(Error::Serde {
            message: "MsgPack not supported".to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
