/*
 * Indexer
 *
 * Algorand ledger analytics API.
 *
 * The version of the OpenAPI document: 2.0
 * Generated by: Rust OpenAPI Generator
 */

use algokit_http_client::{HttpClient, HttpMethod};
use serde::{Deserialize, Serialize};
use std::collections::HashMap;

use super::{ContentType, Error, IndexerApiError};

// Import all custom types used by this endpoint
use crate::models::SearchForBlockHeaders;

// Import request body type if needed

/// struct for typed errors of method [`search_for_block_headers`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum SearchForBlockHeadersError {
    Status404(serde_json::Value),
    Status500(serde_json::Value),
    DefaultResponse(),
    UnknownValue(serde_json::Value),
}

/// Search for block headers. Block headers are returned in ascending round order. Transactions are not included in the output.
pub async fn search_for_block_headers(
    http_client: &dyn HttpClient,
    limit: Option<u64>,
    next: Option<&str>,
    min_round: Option<u64>,
    max_round: Option<u64>,
    before_time: Option<&str>,
    after_time: Option<&str>,
    proposers: Option<Vec<String>>,
    expired: Option<Vec<String>>,
    absent: Option<Vec<String>>,
) -> Result<SearchForBlockHeaders, Error> {
    let p_limit = limit;
    let p_next = next;
    let p_min_round = min_round;
    let p_max_round = max_round;
    let p_before_time = before_time;
    let p_after_time = after_time;
    let p_proposers = proposers;
    let p_expired = expired;
    let p_absent = absent;

    let path = "/v2/block_headers".to_string();

    let mut query_params: HashMap<String, String> = HashMap::new();
    if let Some(value) = p_limit {
        query_params.insert("limit".to_string(), value.to_string());
    }
    if let Some(value) = p_next {
        query_params.insert("next".to_string(), value.to_string());
    }
    if let Some(value) = p_min_round {
        query_params.insert("min-round".to_string(), value.to_string());
    }
    if let Some(value) = p_max_round {
        query_params.insert("max-round".to_string(), value.to_string());
    }
    if let Some(value) = p_before_time {
        query_params.insert("before-time".to_string(), value.to_string());
    }
    if let Some(value) = p_after_time {
        query_params.insert("after-time".to_string(), value.to_string());
    }
    if let Some(value) = p_proposers {
        query_params.insert("proposers".to_string(), value.join(","));
    }
    if let Some(value) = p_expired {
        query_params.insert("expired".to_string(), value.join(","));
    }
    if let Some(value) = p_absent {
        query_params.insert("absent".to_string(), value.join(","));
    }

    let mut headers: HashMap<String, String> = HashMap::new();
    headers.insert("Content-Type".to_string(), "application/json".to_string());
    headers.insert("Accept".to_string(), "application/json".to_string());

    let body = None;

    let response = http_client
        .request(
            HttpMethod::Get,
            path,
            Some(query_params),
            body,
            Some(headers),
        )
        .await
        .map_err(|e| Error::Http { source: e })?;

    let content_type = response
        .headers
        .get("content-type")
        .map(|s| s.as_str())
        .unwrap_or("application/json");

    match ContentType::from(content_type) {
        ContentType::Json => serde_json::from_slice(&response.body).map_err(|e| Error::Serde {
            message: e.to_string(),
        }),
        ContentType::MsgPack => Err(Error::Serde {
            message: "MsgPack not supported".to_string(),
        }),
        ContentType::Text => {
            let text = String::from_utf8(response.body).map_err(|e| Error::Serde {
                message: e.to_string(),
            })?;
            Err(Error::Serde {
                message: format!("Unexpected text response: {}", text),
            })
        }
        ContentType::Unsupported(ct) => Err(Error::Serde {
            message: format!("Unsupported content type: {}", ct),
        }),
    }
}
